<ion-header>
  <ion-toolbar>
    <ion-title> Personajes</ion-title>
   
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid *ngIf="personajes">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let personaje of personajes">
        <ion-card>
          <img [src]="personaje.image" alt="{{ personaje.name }}"/>
          <ion-card-header>
            <ion-card-title>{{ personaje.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Especie: {{ personaje.species }}</p>
            <p>Estado: {{ personaje.status }}</p>
            <p>Origen: {{ personaje.origin.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/modulo1"></ion-back-button>
      <ion-button routerLink="/menu" routerDirection="root">
        <ion-icon slot="start" name="home"></ion-icon>
       Home
      </ion-button>
    </ion-buttons>
    <ion-footer>
      <ion-toolbar>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span style="font-size: 12px; font-style: italic;">Developed by DrCV &reg;</span>
          <span style="font-size: 10px; font-weight: bold;">© 2023</span>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-toolbar>
</ion-footer>